USE [master]
GO
/****** Object:  Database [BulkCopy]    Script Date: 11/21/2023 2:15:19 PM ******/
CREATE DATABASE [BulkCopy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BulkCopy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BulkCopy.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BulkCopy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BulkCopy_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BulkCopy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BulkCopy]
GO
/****** Object:  Table [dbo].[Data]    Script Date: 11/21/2023 2:15:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Data](
	[PROFIT] [varchar](15) NULL,
	[Branch] [char](3) NULL,
	[Department] [char](3) NULL,
	[JobOperator] [char](3) NULL,
	[JobRevRecog] [date] NULL,
	[Revenue] [decimal](18, 0) NULL,
	[WIP] [int] NULL,
	[Cost] [decimal](18, 0) NULL,
	[Accrual] [int] NULL,
	[JobProfit] [decimal](18, 0) NULL,
	[Stat] [char](3) NULL,
	[HoldReason] [varchar](500) NULL,
	[Reason] [char](3) NULL,
	[LocalClientCode] [bigint] NULL,
	[LocalClientName] [varchar](120) NULL,
	[Rep] [varchar](15) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
